.initialise {
    display: block;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 21px #e7eeef;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    width: 500px;
    padding: 30px;
    border-radius: 10px;

    .wrapper {
        display: flex;
        width: 100%;

        .mdc-text-field {
            font-family: 'Poppins', sans-serif;
            background-color: transparent !important;
            margin-bottom: 16px;
            padding-left: 0;
            width: 100%;
    
            .mdc-floating-label {
                left: 0 !important;
            }
    
            .mdc-line-ripple {
                background-color: #2A66CE !important;
            }
    
            .mdc-text-field__input {
                padding-left: 0;
                border-bottom-color: #2A66CE !important;
            }
        }
    
        .mdc-text-field--focused {
            .mdc-floating-label {
                color: #2A66CE !important;
            }
    
            .mdc-text-field__input {
                border-bottom-color: #2A66CE !important;
            }
        }
    }
}