.initialise {
    display: block;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 21px #e7eeef;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    width: 500px;
    padding: 30px;
    border-radius: 10px;

    .wrapper {
        display: flex;
        width: 100%;

        .mdc-text-field {
            font-family: 'Poppins', sans-serif;
            background-color: transparent !important;
            margin-bottom: 16px;
            padding-left: 0;
            width: 100%;
    
            .mdc-floating-label {
                left: 0 !important;
            }
    
            .mdc-line-ripple {
                background-color: #2A66CE !important;
            }
    
            .mdc-text-field__input {
                padding-left: 0;
                border-bottom-color: #2A66CE !important;
            }
        }
    
        .mdc-text-field--focused {
            .mdc-floating-label {
                color: #2A66CE !important;
            }
    
            .mdc-text-field__input {
                border-bottom-color: #2A66CE !important;
            }
        }
    }

    .react-datepicker-wrapper {
        margin-bottom: 32px;
        width: 100%;
        
        .react-datepicker__input-container {
            width: 100%;

            input {
                background: transparent;
                border: 0;
                width: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.42);
                line-height: 1.75rem;
                padding: 16px 0;
            }
        }   
    }

    .button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 38px;
        border: 0;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
        color: white;
        border-radius: 20px;
        font-size: 16px;
    }
}