body {
  background: #f5f6f7;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;

  .header-section {
    margin: 0 16px;
    display: flex;
    align-items: center;

    header {
      flex: 1;
      font-size: 22px;
      font-weight: 600;
    }

    .side {
      display: flex;

      .first {
        margin: 0 16px;
      }

      .section {
        font-size: 14px;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 10px 21px #e7eeef;
        padding: 8px 16px;
      }
    }
  }

  .flex {
    display: flex;
    margin: 8px;

    .inner-flex > .flexer:last-child {
      border-left: 1px solid lightgray;
    }

    .inner-flex {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 4px;
      justify-content: center;
      background: #fff;
      border-radius: 6px;
      // box-shadow: 0 10px 21px #e7eeef;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


      .flexer {
        flex: 1;
        padding: 16px 24px;
      }

      .title {
        font-size: 14px;
      }

      .subtitle {
        font-weight: 500;
        font-size: 32px;
      }

      .small {
        font-size: 10px;
        font-weight: 400;
      }
    }

    .data-0 {
      background: linear-gradient(90deg, rgba(180,58,157,1) 0%, rgba(253,29,29,1) 50%, rgba(252,145,69,1) 100%);
      color: white;
    }

    .data-2 {
      background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
      color: white;
    }
  }

  .react-datepicker-wrapper {
    margin-bottom: 32px;
    width: 100%;
    
    .react-datepicker__input-container {
        width: 100%;

        input {
            background: transparent;
            border: 0;
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.42);
            line-height: 1.75rem;
            padding: 16px 0;
        }
    }   
  }

  .flex2 {
    display: flex;
    margin: 8px;
    
    .inner-flex {
      align-items: center;
      flex: 1;
      display: flex;
      margin: 0 4px;
      flex-direction: column;
      padding: 16px 8px;
      position: relative;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0 10px 21px #e7eeef;

      .title {
        font-size: 10px;
      }

      .subtitle {
        font-size: 12px;
        font-weight: 600;
      }

      .active {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 10px;
        color: #0F9009;
      }
    }

    .last {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-bottom: 2px solid #0F9009;
    }
  }

  .graph {

    .title {
      font-size: 18px;
      font-weight: 600;
      padding: 16px;
    }

    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 21px #e7eeef;
    margin: 16px 11px;

    #chartdiv {
      width: auto;
    }
  }


  .wrapped {
    display: flex;
    margin: 0 8px 16px 8px;

    .mdc-text-field {
      font-family: 'Poppins', sans-serif;
      background-color: transparent !important;
      margin-bottom: 16px;
      padding-left: 0;
      width: 100%;

      .mdc-floating-label {
          left: 0 !important;
      }

      .mdc-line-ripple {
          background-color: #2A66CE !important;
      }

      .mdc-text-field__input {
          padding-left: 0;
          border-bottom-color: #2A66CE !important;
      }
  }

  .mdc-text-field--focused {
      .mdc-floating-label {
          color: #2A66CE !important;
      }

      .mdc-text-field__input {
          border-bottom-color: #2A66CE !important;
      }
  }

    .flexed {
      flex: 1;
      max-height: 300px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding: 16px;
      margin: 0 4px;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0 10px 21px #e7eeef;

      .last {
        border-radius: 30px;
        color: #2B86C5;
        padding: 0 30px;
        font-weight: 600;
      }

      .inner-flex {
        padding: 4px 0;
        flex: 1;
        display: flex;
        border-bottom: 1px solid #eee;

        .title {
          display: flex;
          align-items: center;
          flex: 1;
        }
  
        .arrow {
          display: flex;
          align-items: center;
  
          div {
            margin: 0 8px 0 0;
          }

          .bold {
            font-weight: 600;
          }
        }
      }

      p {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
      }

      .history {
        display: flex;
        align-items: center;
        padding: 4px 0;
        margin: 4px 0;
        border-bottom: 1px solid #eee;

        .date {
          flex: 1;
        }

        .weight {
          font-weight: 600;

          span {
            font-weight: 300;
            color: red;
            margin-right: 16px;
            cursor: pointer;
            font-size: 12px;
          }
        }
      }

    }

    .button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 38px;
      border: 0;
      background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
      color: white;
      border-radius: 20px;
      font-size: 16px;
  }
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}